/*tiltSlider start*/
.slideshow {
    background: url('../images/banner-bg.jpg') no-repeat scroll center center / cover;
    position: relative;
    text-align: center;
}
.inner-slideshow {
    background-color: rgba(235,235,235,.7);
}
.slides {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
    color: #333;
}

.no-js .slides {
    height: auto;
}

.slides > li {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    -webkit-perspective: 1600px;
    perspective: 1600px;
}

.no-js .slides > li {
    position: relative;
    visibility: visible;
}

.slideshow > nav {
    text-align: center;
    margin-top: -25px;
    position: relative;
    top: -15px;
}

.slideshow > nav span {
    display: inline-block;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
    margin: 0 3px;
    transition: background-color 0.2s;
}

.slideshow > nav span:hover {
    background-color: #FFAD54;
}

.slideshow > nav span.current {
    background-color: #37c9dd;
}

.slideshow .description {
    width: 40%;
    padding: 2em 4em;
    font-size: 1.5em;
    position: relative;
    z-index: 1000;
    opacity: 0;
}

.no-js .description {
    opacity: 1;
}

.description h2 {
    font-size: 200%;
}

.tiltview {
    position: absolute;
    left: 40%;
    width: 60%;
    top: 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateY(-50%) rotateX(60deg) rotateZ(35deg);
    transform: translateY(-50%) rotateX(60deg) rotateZ(35deg);
}

.tiltview a {
    outline: 1px solid transparent;
}

.tiltview a,
.tiltview a img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.tiltview a:first-child {
    margin-bottom: 30px;
}

.tiltview.row a {
    width: 58%;
    width: calc(50% - 15px);
    margin: 0;
}

.tiltview.row a:nth-child(2) {
    left: 40%;
    left: calc(50% + 15px);
    position: absolute;
    top: 0;
}

/* Show/Hide */
.slides > li.current,
.slides > li.showin {
    visibility: visible;
}

.slides > li .description {
    transition: opacity 0.75s;
    text-align: left;
}

.current .description,
.showin .description {
    opacity: 1;
}

.hidein .description {
    opacity: 0;
}

/* Individual effects */

/* Move Up, Move Down, Slide Up, Slide Down, Slide Left, Slide Right */
/* For each effect we'll define the incoming and outgoing animation */

/***********************/
/* Move up */
/***********************/
.hidein[data-effect-out="moveUpOut"] .tiltview a {
    -webkit-animation: moveUpOut 1.5s both;
    animation: moveUpOut 1.5s both;
}

.hidein[data-effect-out="moveUpOut"] .tiltview a:nth-child(2) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@-webkit-keyframes moveUpOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateZ(-30px);
    }
    100% {
        -webkit-transform: translateZ(3000px);
    }
}

@keyframes moveUpOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateZ(-30px);
        transform: translateZ(-30px);
    }
    100% {
        -webkit-transform: translateZ(3000px);
        transform: translateZ(3000px);
    }
}

.showin[data-effect-in="moveUpIn"] .tiltview a {
    -webkit-animation: moveUpIn 1.5s 0.5s both;
    animation: moveUpIn 1.5s 0.5s both;
}

.showin[data-effect-in="moveUpIn"] .tiltview a:nth-child(2) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@-webkit-keyframes moveUpIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateZ(-3000px);
    }
    75% {
        -webkit-transform: translateZ(30px);
    }
    100% {
        -webkit-transform: translateZ(0);
    }
}

@keyframes moveUpIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateZ(-3000px);
        transform: translateZ(-3000px);
    }
    75% {
        -webkit-transform: translateZ(30px);
        transform: translateZ(30px);
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

/***********************/
/* Move down */
/***********************/
.hidein[data-effect-out="moveDownOut"] .tiltview a {
    -webkit-animation: moveDownOut 1.5s both;
    animation: moveDownOut 1.5s both;
}

.hidein[data-effect-out="moveDownOut"] .tiltview a:nth-child(2) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@-webkit-keyframes moveDownOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateZ(30px);
    }
    100% {
        -webkit-transform: translateZ(-3000px);
    }
}

@keyframes moveDownOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateZ(30px);
        transform: translateZ(30px);
    }
    100% {
        -webkit-transform: translateZ(-3000px);
        transform: translateZ(-3000px);
    }
}

.showin[data-effect-in="moveDownIn"] .tiltview a {
    -webkit-animation: moveDownIn 1.5s 0.5s both;
    animation: moveDownIn 1.5s 0.5s both;
}

.showin[data-effect-in="moveDownIn"] .tiltview a:nth-child(2) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@-webkit-keyframes moveDownIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateZ(3000px);
    }
    75% {
        -webkit-transform: translateZ(-30px);
    }
    100% {
        -webkit-transform: translateZ(0);
    }
}

@keyframes moveDownIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateZ(3000px);
        transform: translateZ(3000px);
    }
    75% {
        -webkit-transform: translateZ(-30px);
        transform: translateZ(-30px);
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

/***********************/
/* Slide up */
/***********************/
.hidein[data-effect-out="slideUpOut"] .tiltview a {
    -webkit-animation: slideUpOut 1.5s both;
    animation: slideUpOut 1.5s both;
}

.hidein[data-effect-out="slideUpOut"] .tiltview a:nth-child(2) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@-webkit-keyframes slideUpOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(-3000px);
    }
}

@keyframes slideUpOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(-3000px);
        transform: translateY(-3000px);
    }
}

.showin[data-effect-in="slideUpIn"] .tiltview a {
    -webkit-animation: slideUpIn 1.5s 0.5s both;
    animation: slideUpIn 1.5s 0.5s both;
}

.showin[data-effect-in="slideUpIn"] .tiltview a:nth-child(2) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@-webkit-keyframes slideUpIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateY(3000px);
    }
    75% {
        -webkit-transform: translateY(-30px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes slideUpIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateY(3000px);
        transform: translateY(3000px);
    }
    75% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/***********************/
/* Slide down */
/***********************/
.hidein[data-effect-out="slideDownOut"] .tiltview a {
    -webkit-animation: slideDownOut 1.5s both;
    animation: slideDownOut 1.5s both;
}

.hidein[data-effect-out="slideDownOut"] .tiltview.row a:nth-child(2),
.hidein[data-effect-out="slideDownOut"] .tiltview.col a:first-child {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@-webkit-keyframes slideDownOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateY(-30px);
    }
    100% {
        -webkit-transform: translateY(3000px);
    }
}

@keyframes slideDownOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    100% {
        -webkit-transform: translateY(3000px);
        transform: translateY(3000px);
    }
}

.showin[data-effect-in="slideDownIn"] .tiltview a {
    -webkit-animation: slideDownIn 1.5s 0.5s both;
    animation: slideDownIn 1.5s 0.5s both;
}

.showin[data-effect-in="slideDownIn"] .tiltview.row a:nth-child(2),
.showin[data-effect-in="slideDownIn"] .tiltview.col a:first-child {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@-webkit-keyframes slideDownIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateY(-3000px);
    }
    75% {
        -webkit-transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes slideDownIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateY(-3000px);
        transform: translateY(-3000px);
    }
    75% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/***********************/
/* Slide left */
/***********************/
.hidein[data-effect-out="slideLeftOut"] .tiltview a {
    -webkit-animation: slideLeftOut 1.5s both;
    animation: slideLeftOut 1.5s both;
}

.hidein[data-effect-out="slideLeftOut"] .tiltview a:nth-child(2) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@-webkit-keyframes slideLeftOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateX(30px);
    }
    100% {
        -webkit-transform: translateX(-5000px);
    }
}

@keyframes slideLeftOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    100% {
        -webkit-transform: translateX(-5000px);
        transform: translateX(-5000px);
    }
}

.showin[data-effect-in="slideLeftIn"] .tiltview a {
    -webkit-animation: slideLeftIn 1.5s 0.5s both;
    animation: slideLeftIn 1.5s 0.5s both;
}

.showin[data-effect-in="slideLeftIn"] .tiltview a:nth-child(2) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateX(3000px);
    }
    75% {
        -webkit-transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes slideLeftIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateX(3000px);
        transform: translateX(3000px);
    }
    75% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/***********************/
/* Slide right */
/***********************/
.hidein[data-effect-out="slideRightOut"] .tiltview a {
    -webkit-animation: slideRightOut 1.5s both;
    animation: slideRightOut 1.5s both;
}

.hidein[data-effect-out="slideRightOut"] .tiltview.col a:nth-child(2),
.hidein[data-effect-out="slideRightOut"] .tiltview.row a:first-child {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@-webkit-keyframes slideRightOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(3000px);
    }
}

@keyframes slideRightOut {
    25% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(3000px);
        transform: translateX(3000px);
    }
}

.showin[data-effect-in="slideRightIn"] .tiltview a {
    -webkit-animation: slideRightIn 1.5s 0.5s both;
    animation: slideRightIn 1.5s 0.5s both;
}

.showin[data-effect-in="slideRightIn"] .tiltview.col a:nth-child(2),
.showin[data-effect-in="slideRightIn"] .tiltview.row a:first-child {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@-webkit-keyframes slideRightIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateX(-5000px);
    }
    75% {
        -webkit-transform: translateX(30px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes slideRightIn {
    0% {
        -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-transform: translateX(-5000px);
        transform: translateX(-5000px);
    }
    75% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Fallback for no 3D Transforms and no preserve-3d */
.no-csstransformspreserve3d .showin .tiltview a,
.no-csstransformspreserve3d .hidein .tiltview a,
.no-csstransforms3d .showin .tiltview a,
.no-csstransforms3d .hidein .tiltview a {
    -webkit-animation: none !important;
    animation: none !important;
}

.no-csstransforms3d .tiltview.col {
    top: -50%;
}

.no-csstransforms3d .tiltview.row {
    top: 20px;
}

/* Some media queries */
@media screen and (max-width: 65.3125em) {
    .description,
    .tiltview {
        width: 100%;
    }

    .tiltview {
        left: 0;
        pointer-events: none;
    }
}

@media screen and (max-width: 24em) {
    .slides {
        height: 320px;
    }

    .description {
        font-size: 1em;
        padding: 1.4em;
    }

    .no-csstransforms3d .tiltview.col,
    .no-csstransforms3d .tiltview.row {
        top: 0;
    }
}
/*tiltSlider end*/

/* slick slider */
.slick-slider {position: relative; display: block;
               -moz-box-sizing: border-box;
               box-sizing: border-box;

               -webkit-user-select: none;
               -moz-user-select: none;
               -ms-user-select: none;
               user-select: none;

               -webkit-touch-callout: none;
               -khtml-user-select: none;
               -ms-touch-action: pan-y;
               touch-action: pan-y;
               -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 5px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-prev, .slick-next {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    background-color: #fff; font-size: 0; line-height: 0; position: absolute; top: 50%; margin-top: -25px; cursor: pointer; width: 50px; height: 80px;}
.slick-next {right: 5px; border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px;}
.slick-next:after, .slick-prev:after {position: absolute; font-size: 60px;}
.slick-next:after {content: "\f105"; left: 0; right: 0;}
.slick-prev:after {content: "\f104";left: 0; right: 0;}
.slick-prev {left: 5px; border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0;}
.single-blog-ls .slick-slide {margin: 0;}
.blog-slider .slick-dots {font-size: 0; position: relative; top: -20px; text-align: left;}
.blog-slider .slick-dots li {display: inline-block;}
.blog-slider .slick-dots li button {background: rgba(0,0,0,0.2); padding: 0; margin: 0 3px; font-size: 0; width: 13px; height: 13px; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;}
.blog-slider .slick-dots .slick-active button {background-color: #08bcd4;}
.single-blog-slider .slick-next {right: 0;}
.single-blog-slider .slick-prev {left: 0;}
/*slick slider end*/

/*ekko-lightbox*/
.ekko-lightbox-container {position: relative;}
.ekko-lightbox-nav-overlay {position: absolute;top: 0;left: 0;z-index: 100;width: 100%;height: 100%;}
.ekko-lightbox-nav-overlay a {z-index: 100;display: block;width: 49%;height: 100%;font-size: 30px;color: #fff;text-shadow: 2px 2px 4px #000; opacity: 0;filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}
.ekko-lightbox-nav-overlay a:empty {width: 49%;}
.ekko-lightbox a:hover {text-decoration: none;opacity: 1;}
.ekko-lightbox .glyphicon-chevron-right {right: 0;float: right;padding-right: 15px;text-align: right;}
.ekko-lightbox .glyphicon-chevron-right:before {content: "\e080";}
.ekko-lightbox .glyphicon-chevron-left {left: 0;float: left;padding-left: 15px;text-align: left;}
.ekko-lightbox .glyphicon-chevron-left:before {content: "\e079";}
.ekko-lightbox .modal-footer {text-align: left;}

/*hi-icon start*/
@font-face {
    font-family: 'ecoicon';
    src:url('../fonts/ecoicons/ecoicon.eot');
    src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ecoicons/ecoicon.woff') format('woff'),
        url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
        url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 3em 0 3em;
}

.hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}

.hi-icon:before {
    font-family: 'ecoicon';
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
    content: "\e009";
}

.hi-icon-screen:before {
    content: "\e00a";
}

.hi-icon-earth:before {
    content: "\e002";
}

.hi-icon-support:before {
    content: "\e000";
}

.hi-icon-locked:before {
    content: "\e001";
}

.hi-icon-cog:before {
    content: "\e003";
}

.hi-icon-clock:before {
    content: "\e004";
}

.hi-icon-videos:before {
    content: "\e005";
}

.hi-icon-list:before {
    content: "\e006";
}

.hi-icon-refresh:before {
    content: "\e007";
}

.hi-icon-images:before {
    content: "\e008";
}

.hi-icon-pencil:before {
    content: "\e00b";
}

.hi-icon-link:before {
    content: "\e00c";
}

.hi-icon-mail:before {
    content: "\e00d";
}

.hi-icon-location:before {
    content: "\e00e";
}

.hi-icon-archive:before {
    content: "\e00f";
}

.hi-icon-chat:before {
    content: "\e010";
}

.hi-icon-bookmark:before {
    content: "\e011";
}

.hi-icon-user:before {
    content: "\e012";
}

.hi-icon-contract:before {
    content: "\e013";
}

.hi-icon-star:before {
    content: "\e014";
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
    background: rgba(255,255,255,1);
    color: #41ab6b;
}

.hi-icon-effect-1a .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 1b */
.hi-icon-effect-1b .hi-icon:hover {
    background: rgba(255,255,255,1);
    color: #41ab6b;
}

.hi-icon-effect-1b .hi-icon:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hi-icon-effect-1b .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 2 */
.hi-icon-effect-2 .hi-icon {
    color: #eea303;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.hi-icon-effect-2 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

/* Effect 2a */
.hi-icon-effect-2a .hi-icon:hover {
    color: #eea303;
}

.hi-icon-effect-2a .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

/* Effect 2b */
.hi-icon-effect-2b .hi-icon:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}

.hi-icon-effect-2b .hi-icon:hover {
    color: #fff;
}

/* Effect 3 */
.hi-icon-effect-3 .hi-icon {
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.hi-icon-effect-3a .hi-icon {
    color: #f06060;
}

.hi-icon-effect-3a .hi-icon:hover {
    color: #fff;
}

.hi-icon-effect-3a .hi-icon:hover:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

/* Effect 3b */
.hi-icon-effect-3b .hi-icon {
    color: #fff;
}

.hi-icon-effect-3b .hi-icon:hover {
    color: #08bcd4;
}

.hi-icon-effect-3b .hi-icon:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

.hi-icon-effect-3b .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 4 */
.hi-icon-effect-4 .hi-icon {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 0 4px rgba(255,255,255,1);	
}

.hi-icon-effect-4a .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hi-icon-effect-4 .hi-icon:before {
    line-height: 92px;
}

.hi-icon-effect-4 .hi-icon:after {
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    border: 4px dashed #fff;
}

.hi-icon-effect-4 .hi-icon:hover {
    box-shadow: 0 0 0 0 rgba(255,255,255,0);
    color: #fff;
}

/* Effect 4b */
.hi-icon-effect-4b .hi-icon:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hi-icon-effect-4b .hi-icon:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.hi-icon-effect-5 .hi-icon:after {
    display: none;
}

.hi-icon-effect-5 .hi-icon:hover {
    background: rgba(255,255,255,1);
    color: #702fa8;
    box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}

.hi-icon-effect-5a .hi-icon:hover:before {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

.hi-icon-effect-5b .hi-icon:hover:before {
    -webkit-animation: toLeftFromRight 0.3s forwards;
    -moz-animation: toLeftFromRight 0.3s forwards;
    animation: toLeftFromRight 0.3s forwards;
}

@-webkit-keyframes toLeftFromRight {
    49% {
        -webkit-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toLeftFromRight {
    49% {
        -moz-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toLeftFromRight {
    49% {
        transform: translate(-100%);
    }
    50% {
        opacity: 0;
        transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}

.hi-icon-effect-5c .hi-icon:hover:before {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

.hi-icon-effect-5d .hi-icon:hover:before {
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toBottomFromTop {
    49% {
        -moz-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-6 .hi-icon:hover {
    background: rgba(255,255,255,1);
    color: #64bb5d;
}

.hi-icon-effect-6 .hi-icon:hover:before {
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
}

/* Effect 7 */
.hi-icon-effect-7 .hi-icon {
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;	
}

.hi-icon-effect-7 .hi-icon:hover {
    color: #fff;
}

.hi-icon-effect-7 .hi-icon:after {
    top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
}

/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after {
    box-shadow: 0 0 0 rgba(255,255,255,1);
    -webkit-transition: opacity 0.2s, box-shadow 0.2s;
    -moz-transition: opacity 0.2s, box-shadow 0.2s;
    transition: opacity 0.2s, box-shadow 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:after {
    opacity: 1;
    box-shadow: 3px 3px 0 rgba(255,255,255,1);
}

.hi-icon-effect-7a .hi-icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 7b */
.hi-icon-effect-7b .hi-icon:after {
    box-shadow: 3px 3px rgba(255,255,255,1);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.hi-icon-effect-7b .hi-icon:hover:after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.hi-icon-effect-7b .hi-icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect-7b .hi-icon:hover:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 8 */
.hi-icon-effect-8 .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon:hover {
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

.hi-icon-effect-8 .hi-icon:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.hi-icon-effect-9a .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.5;
}

.hi-icon-effect-9a .hi-icon:hover {
    box-shadow: 0 0 0 10px rgba(255,255,255,1);
    color: #fff;
}

/* Effect 9b */
.hi-icon-effect-9b .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

.hi-icon-effect-9b .hi-icon:hover {
    box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
    color: #fff;
}
/*/hi-icon end*/
