@charset "utf-8";
@font-face {
    font-family: 'Lato-Light';
    src:url('../fonts/Lato2OFL/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src:url('../fonts/Lato2OFL/Lato-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src:url('../fonts/Lato2OFL/Lato-Bold.ttf');
    font-weight: 300;
    font-style: normal;
}
.awesome > [class*="icon-"] {
    /*    width: 32px;font-size: 14px;*/
    display: inline-block; text-align: center;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    /*width: auto;*/
    /*height: auto;*/
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
.awesome > [class^="icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
@font-face {
    font-family: 'ecoicon';
    src:url('../fonts/ecoicons/ecoicon.eot');
    src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ecoicons/ecoicon.woff') format('woff'),
        url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
        url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*reset*/
html, body, div, span, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, a, blockquote{margin: 0;padding: 0;border: 0;outline: 0; outline: none;vertical-align: baseline;background: transparent;}
table {border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;}
body {background-color: #f8f9fa;  font-family: 'Lato-Regular', sans-serif;}
table th{text-align: left;}
td, td img {vertical-align: top;}
ul, ol{list-style: none;}
input, select, button, textarea{margin: 0;font-size: 100%;}
button:focus {outline: none !important;}
button {background: transparent; border:0;}
input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner{padding: 0;border: 0;}/* Firefox button bug */
input[type="checkbox"] {vertical-align: bottom;}
input[type="radio"] {vertical-align: text-bottom;}
a:hover {text-decoration: none;}
a img{border: none;}
img{height: auto;max-width: 100%;vertical-align: middle;border: 0;width: auto\9;-ms-interpolation-mode: bicubic;}
figure{line-height: 0;font-size: 0;}
blockquote, q {quotes: none;}
hr{border:0;width: 100%;display: block;margin: 0;}
.tm_n_r, .drop-bask .drop-content .info-bask .add-info, .frame-bask-order .table-order tfoot td .price {font-family: 'Times New Roman', sans-serif;}
/*/reset*/

/*methods*/
.text {color: #999;}
.text p {margin-bottom: 15px;}
.text blockquote {border-left: 4px solid #08bcd4; font-size: 16px; font-style: italic; padding-left: 17px; line-height: 25px; margin-bottom: 33px;}
.text ul, .text ol {margin: 0 10px 20px 10px;}
.text ol {  counter-reset: li;}
.text ul li, .text ol li {position: relative; padding-left: 20px; margin-bottom: 4px;}
.text ul li:before {position: absolute; left: 0; content: "\2013"; font-size: 15px; top: 0;}
.text ol li:before {
    background-color: #fff;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -5px;
    top: 1px;
    height: 18px;
    width: 18px;
    line-height: 15px;
    text-indent: -1px;
    text-align: center;
    font-size: 11px;
    border: 1px solid #cbcbcb;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.text h1, .text h2, .text h3, .text h4 {color: #333;}
.clearfix:after, article:after, .nav:after, .container:after, .horizontal-form label:after, .horizontal-form .frame-label:after, .frame-inside:after, .frame-label:after{visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
.helper{vertical-align: middle;width: 0;height: 100%;padding: 0 !important;border: 0 !important;display: inline-block;}
.helper + *{vertical-align: middle;display: inline-block;word-break: break-word;word-wrap: break-word;}
.t-a_j{text-align: justify !important;font-size: 1px;}
.t-a_j > *{display: inline-block;vertical-align: middle;float: none !important;text-align: left;}
.t-a_j:after, .t-a_j .ie{content: "1";margin-left: 100%;height: 1px;visibility: hidden;display: inline-block;}
/*/methods*/

/*buttons base*/
[class*="btn-"] {display: inline-block;position: relative;}
[class*="btn-"] > a, [class*="btn-"] > a:hover, a:active, a:focus {text-decoration: none;}
[class*="btn-"], .buti{vertical-align: middle;}
.input-group .form-control:focus, .form-group .form-control:focus {border-color: #37c9dd; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(55,201,221,.6);}
.form-textarea-wrapper textarea.form-control {height: 130px;}
/*/buttons base*/
/*[class*="icon-"], [class*="icon_"] {background: url("images/sprite.png") no-repeat;}*/

/*scaffolding*/

/*base scaffolding*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display: block;}
.main-body{min-height: 100%;margin: 0 auto;overflow: hidden;}
.photo-block {margin-bottom: 15px; display: inline-block; overflow: hidden; position: relative;}
.portfolio-gallery .line > li .photo-block {margin-bottom: 5px; height: 400px;}
.project-description {margin-top: 10px;}
.date {color: #939393;margin-bottom: 5px;}

/*preloader*/
#preloader {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #ebebea;z-index: 999999;}
#status {width: 92px;height: 92px;position: absolute;left: 50%;top: 50%;background-image: url(../images/loader.gif);background-repeat: no-repeat;background-size: 91px auto;background-position: center bottom;text-align: center;margin: -46px 0 0 -46px;}
/*/preloader*/

/*modal*/
.modal [class*="btn-"] {font-size: 14px;}
/*/modal*/

/*icons*/
.icon-fighter-jet {position: absolute; bottom: 25px; right: 25px; background: none; padding: 0; border:0; width: 25px;}
.icon-fighter-jet:before {content: "\f067"; color: #e2e6ef;font-size: 25px; display: none;}
.photo-block:hover > .icon-fighter-jet:before {position: relative; display: block;}
.frame-photo-title:hover:before {display: block;}
.personal-social [class*="fa-"]:before {font-size: 24px;}
.personal-social [class*="fa-"]:hover:before {color: #08bcd4;}
.fa-search {font-size: 18px;}
.fa-home {font-size: 20px;}
.fa-plus {font-size: 20px;}
.fa-coffee {font-size: 90px; color: #db5941;}
.fa-smile-o {font-size: 109px; color: #f8bc3a;}
.fa-music {font-size: 93px; color: #27ae61;}
.fa-cogs {font-size: 93px; color: #2a80b9;}
.fa-phone {font-size: 96px; color: #fff;}
.fa-envelope-o {font-size: 89px; color: #fff;}
.fa-map-marker {font-size: 91px; color: #fff;}
.fa-comments-o {font-size: 18px;}
.fa-heart {font-size: 15px;}
.fa-angle-double-left, .fa-angle-double-right {font-size: 15px;}
.fa-mail-reply-all {font-size: 15px; color:#6E6E6E;}
.fa-plus:before {content: "\f067";color: #2f2f2f;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;transition: all 0.2s;}
footer .fa-twitter, footer .fa-facebook, footer .fa-linkedin, footer .fa-instagram {font-size: 30px; color: #fff;}

/*hi-icon*/
.hi-icon-effect-3b .hi-icon:after {-webkit-transform: scale(1.3);-moz-transform: scale(1.3);-ms-transform: scale(1.3);transform: scale(1.3);opacity: 0;}
.hi-icon-effect-3 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}
.hi-icon-effect-3b .hi-icon:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}
.hi-icon:before {font-family: 'ecoicon';speak: none;font-size: 48px;line-height: 90px;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;display: block;-webkit-font-smoothing: antialiased;}
.hi-icon:after {pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 50%;content: '';-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.hi-icon-effect-3 .hi-icon:after {top: -2px;left: -2px;padding: 2px;z-index: -1;background: #fff;-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;-moz-transition: -moz-transform 0.2s, opacity 0.3s;transition: transform 0.2s, opacity 0.3s;}
.hi-icon-pencil:before {content: "\e00b";}
.hi-icon-effect-3b .hi-icon {color: #fff;}
/*/hi-icon*/
/*/icons*/

/*buttons-animate*/
.btn:before, .icon-heart:after, .icon-star:after, .icon-plus:after, .icon-file:before {font-family: 'icomoon';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;position: relative;  -webkit-font-smoothing: antialiased;}
.btn {letter-spacing: 1px;outline: none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.btn-4c {border: 3px solid #fff;padding: 8px 35px; font-size: 12px;border-radius: 10px;border-width: 2px;}
.icon-arrow-right:before {content: "\e00d";}
.btn-4c:hover {background: #149CAE; color: #fff;}
.btn-4c:focus {color:#fff;}
.btn-4c:before {left: 70%;opacity: 0;top: 0;  position: absolute;height: 100%;color: #fff;line-height: 2.9;font-size: 100%;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.btn-4c:hover:before {left: 75%;opacity: 1;}
.btn-4c:active {color:#24747E; border-color: #24747E;}
.btn-4c:active:before {color:#24747E;}
/*/buttons*/

/*.row-fluid [class*="col-"]:first-child {padding-left: 0;}
.row-fluid [class*="col-"]:last-child {padding-right: 0;}*/


.main-body .content {padding-top: 85px;margin-bottom: 100px;}
.case_view.main-body .content {margin-bottom: 120px;}
.main-body.about_page .content {margin-bottom: 25px;}
.case_view .content {padding-top: 55px;}
.main-body.about_page .content {padding-top: 35px;position: relative;}

/*header*/
#main-menu.left .nav-open {
    left: 5px !important;
    right: inherit !important;
}
#main-menu .nav-open {
    position: fixed;
    top: 5px !important;
    height: 48px !important;
    width: 57px;
    z-index: 9999;
}
#main-menu.left .burger-wrap {
    margin: 25px 0 0 25px;
}
.menu-burger {background-color: #fff; padding: 10px;width: 56px;height: 43px;overflow: hidden;border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.2); -webkit-box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.2); -moz-box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.2);
              -webkit-transition: all 0.1s linear;
              -moz-transition: all 0.1s linear;
              -ms-transition: all 0.1s linear;
              transition: all 0.1s linear;
}
.menu-burger:hover {
    height: 48px;
    margin-top: -3px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor: pointer;
}
.menu-burger:hover .menu1 {
    -webkit-transition: all 0.1s linear;
    -webkit-transform: rotate(0);
    -moz-transition: all 0.1s linear;
    -moz-transform: rotate(0);
    -ms-transition: all 0.1s linear;
    -ms-transform: rotate(0);
    transition: all 0.1s linear;
    transform: rotate(0);
    /*  width: 25px;*/
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 7px;
}
.menu-burger:hover .menu3 {
    -webkit-transition: all 0.1s linear;
    -webkit-transform: rotate(0);
    -moz-transition: all 0.1s linear;
    -moz-transform: rotate(0);
    -ms-transition: all 0.1s linear;
    -ms-transform: rotate(0);
    transition: all 0.1s linear;
    transform: rotate(0);
    /*  width: 25px;*/
    margin-left: 0;
    margin-top: 7px;
}
.menu-burger .menu1 {
    width: 36px;
    height: 4px;
    margin-bottom: 5px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.menu-burger .menu2 {
    width: 36px;
    height: 4px;
}
.menu-burger .menu3 {
    width: 36px;
    height: 4px;
    margin-top: 5px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.nav-open .midnightHeader.default .menu-burger .menu1, .nav-open .midnightHeader.default .menu-burger .menu2, .nav-open .midnightHeader.default .menu-burger .menu3 {background-color: #08bcd4;}
#main-menu .sidebar-nav {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    width: 320px;
    background: #212121;
    z-index: 99999;
}
#main-menu.left .sidebar-nav {
    top: 0;
    left: 0;
    bottom: 0;
}
#main-menu .nav-close {
    position: absolute;
    top: 0;
    left: 0;
}
.menu-close {
    height: 30px;
    margin: 20px 0 0 20px;
    overflow: hidden;
}
.menu-close .menu1 {
    width: 30px;
    height: 4px;
    margin-top: 13px;
    background-color: #878787;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.menu-close .menu2 {
    width: 30px;
    height: 4px;
    margin-top: -4px;
    background-color: #878787;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.menu-close:hover .menu1, .menu-close:hover .menu2 {
    background-color: #fff;
}
header {background-color: #37c9dd;position: relative;text-align: center; min-height: 70px;}
.sticky {}
.col-header-nav {line-height: 31px;}
.header-nav {margin-top: 85px;}
.header-nav li {display: block;margin: 5px 25px;}
.header-nav li a {display:block;position: relative;color: #fff; font-size: 19px;line-height: 35px; font-size: 14px; text-transform: uppercase; -webkit-transition: color 0.1s;-moz-transition: color 0.3s;  transition: color 0.3s;  -webkit-perspective: 1000px;-moz-perspective: 1000px;perspective: 1000px;}
.header-nav li a span {background-color: #5c5c5c;display: block;color: #fff;padding: 0 20px; position: relative;-webkit-transition: -webkit-transform 0.3s;-moz-transition: -moz-transform 0.3s;transition: transform 0.3s;-webkit-transform-origin: 50% 0;-moz-transform-origin: 50% 0;transform-origin: 50% 0;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;transform-style: preserve-3d;}
.header-nav li a:hover span, .header-nav li a.selected span {webkit-transform: rotateX(90deg) translateY(-22px);-moz-transform: rotateX(90deg) translateY(-22px);transform: rotateX(90deg) translateY(-22px);}
.header-nav li a span:before {padding: 0 20px;position: absolute;top: 100%;left: 0;width: 100%;height: 100%;content: attr(data-hover);-webkit-transition: background 0.3s;-moz-transition: background 0.3s;transition: background 0.3s;-webkit-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);transform: rotateX(-90deg);-webkit-transform-origin: 50% 0;-moz-transform-origin: 50% 0;transform-origin: 50% 0;}
.header-nav li a:hover span:before, .header-nav li a.selected span:before {background:#b2b2b2;}
.header-nav li a:hover {text-decoration: none;}
.header-nav li .selected {color: #0899AD;}

.header-nav li a:hover::before, .header-nav li a:focus::before {
    color: #fff;
    text-shadow: 10px 0 #fff, -10px 0 #fff;
}
.show-nav header {} 
.logo {overflow:hidden;margin-top: 13px;display: block;}
.sey-hello {}
.toggle-nav {padding: 0; border:0; background: none; outline: none; width: 60px; height: 60px;z-index: 9999999999999; position: relative;top: 100px;
             margin-right: 152px; float: right;margin-top: -60px;}
.toggle-nav:focus {outline: none; border:none;}
.toggle-nav svg {width: 60px; height: 55px; padding:10px;}
.col-button-nav.col-lg-1 {margin-top: 2px;}
.col-button-nav.col-lg-1 {padding: 0; text-align: center;}
.col-logo {position: relative;}
/*/header*/

/*banner*/
.slideshow {}
/*/banner*/

/*content*/
.services h1, .works h1, #experience h1, #about_us h1, #studio  h1 {font-size: 40px;}
/*benefits*/
.services {background-color: #08bcd4; text-align: center; padding-top: 65px; padding-bottom: 20px;}
.services h3 {font-family: 'Lato-Light'; font-weight: normal;margin-bottom: 40px;}
.services *, .services h3 {color: #fff;}
.services-list {}
.services-list > li {display: inline-block; vertical-align: top; margin-bottom: 45px;}
.services-list > li .description {max-height: 88px; overflow: hidden;}
.services-list > li .description p {font-family: 'Lato-Light'; font-size: 16px;}
.services-list > li .btn {margin-top: 15px; text-transform: uppercase;}
.frame-icon-serv {margin-bottom: 10px;}
.frame-icon-serv a:hover {text-decoration: none;}
.title-servis {text-transform: uppercase; font-size: 30px;font-family: 'Lato-Light';line-height: 1em;margin-bottom: 10px;}
/*/benefits*/

/*works*/
.works {text-align: center; padding-top: 65px; padding-bottom: 90px;}
.works h3, #experience h3 {font-family: 'Lato-Light'; font-weight: normal;}
.button-group {margin-left: -10px; text-align: center;margin-top: 40px;margin-bottom: 50px;}
.button-group .button {display: inline-block;margin-left: 10px;}
.button-group .button a {display: inline-block;  line-height: 44px; border-radius: 6px; font-size: 15px; text-transform: uppercase; font-family: 'Lato-Bold';-webkit-perspective: 1000px;-moz-perspective: 1000px;perspective: 1000px;}
.button-group .button a span {background-color: #08bcd4;color:#fff;padding: 0 20px;position: relative;display: inline-block;-webkit-transition: -webkit-transform 0.3s;-moz-transition: -moz-transform 0.3s;transition: transform 0.3s;-webkit-transform-origin: 50% 0;-moz-transform-origin: 50% 0;transform-origin: 50% 0;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;transform-style: preserve-3d;}
.button-group .button a span:before {background-color: #08bcd4;position: absolute;top: 100%;left: 0;width: 100%;height: 100%;content: attr(data-hover);-webkit-transition: background 0.3s;-moz-transition: background 0.3s;transition: background 0.3s;-webkit-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);transform: rotateX(-90deg);-webkit-transform-origin: 50% 0;-moz-transform-origin: 50% 0;transform-origin: 50% 0;}
.button-group .button a:hover {text-decoration: none; color:#fff;}
.button-group .button a:hover span {webkit-transform: rotateX(90deg) translateY(-22px);-moz-transform: rotateX(90deg) translateY(-22px);transform: rotateX(90deg) translateY(-22px);}
.button-group .button a:hover span:before {background-color:#1AD9F2;}
.button-group .button.is-checked a span{color: #fff; background-color:#1AD9F2;}
.isotope li {height: 400px; margin-bottom: 60px;}
.isotope li .frame-photo-title {cursor: pointer;}
.isotope li .frame-photo-title:hover {text-decoration: none;}
.isotope li .frame-photo-title:hover .photo-block {background-color: rgba(0,0,0,0.2); box-shadow: inset 0 0 0 5px #e2e6ef;transition: all .1s;-webkit-transition: all .1s;}
.isotope li .frame-photo-title {width: 100%;position: relative;overflow: hidden;display: block;}
.isotope li .frame-photo-title img {transition: all 0.17s ease-in-out;-moz-transition: all 0.17s ease-in-out;-webkit-transition: all 0.17s ease-in-out;-o-transition: all 0.17s ease-in-out;}
.isotope li .frame-photo-title:hover img {transform: scale(1.4) rotate(20deg);-webkit-transform: scale(1.4) rotate(20deg);-moz-transform: scale(1.4) rotate(20deg);-o-transform: scale(1.4) rotate(20deg);}
.addItems {background: #fff;padding: 13px 17px 10px;border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;-webkit-transition: box-shadow 0.3s;-moz-transition: box-shadow 0.3s;transition: box-shadow 0.3s;}
.addItems:hover {box-shadow: 0 2px 5px rgba(0,0,0,0.1);-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1); -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1);-webkit-transition: box-shadow 0.3s;-moz-transition: box-shadow 0.3s;transition: box-shadow 0.3s;}
/*/works*/

/*about_us*/
#about_us {background-color: #08bcd4; text-align: center;padding: 60px 0;}
#about_us h1 {color:#fff;}
#about_us h3 {font-family: 'Lato-Light';font-weight: normal;color:#fff;}
.personal-wrapper {margin-top: 50px;}
.personal-wrapper > div {margin-bottom: 35px;}
.personal {background-color: #fff; text-align: center; padding: 15px 20px 30px; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;-webkit-transition: box-shadow 0.5s;-moz-transition: box-shadow 0.5s;transition: box-shadow 0.5s;}
.personal:hover {box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.3); -webkit-box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.3); -moz-box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.3);}
.personal-photo {margin-bottom: 20px;}
.personal-info {}
.personal-info .title-name {text-transform: uppercase; font-size: 22px;}
.personal-info .title-skils {font-size: 16px;font-family: 'Lato-Light'; margin-bottom: 15px;}
.personal-photo {height: 369px; background-color: transparent; font-size: 0;}
.personal-social {margin-top: 35px;}
.personal-social li {display: inline-block; margin: 0 5px 14px;}
/*/about_us*/

/*experience*/
#experience {background: url('../images/experience-fon.jpg') no-repeat scroll center center / cover;   text-align: center; position: relative;}
.inner-experience {background-color: rgba(235,235,235,.7);padding: 60px 0;}
.skills-graphic {text-align: left;  margin: 0 80px;}
.skills-graphic .title-procent {display: inline-block; vertical-align: middle;margin: 20px 0 20px 15px;}
.skills-graphic .title-procent .text-el {font-size: 17px;font-weight: bold;  color: #1a1a1a;}
.skills-bar {background-color: #1a1a1a;display: inline-block; vertical-align: middle; height: 32px;padding: 3px;width: 85%;margin: 20px 0 20px 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;-webkit-backface-visibility: hidden;
             -moz-backface-visibility: hidden;
             -ms-backface-visibility: hidden;
             -webkit-transform: translate3d(0,0,0);
             -moz-transform: translate3d(0,0,0);
             -ms-transform: translate3d(0,0,0);}
.skills-bar .fill-skills {width: 0; word-break: break-all; text-transform: uppercase; display: inline-block;height: 100%;background-color: #777;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
                          -webkit-transition: all 1.2s;
                          transition: all 1.2s;
                          -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                          transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.skills-bar .skill-text {width: auto;position: absolute;left: 0;color: #fff;font-size: 17px;line-height: 25px; text-indent: 20px;}
.skills-bar.blue .fill-skills {background-color: #34c2e3;}
.skills-bar.green .fill-skills {background-color: #27ae61;}
.skills-bar.red .fill-skills {background-color: #db5941;}
.skills-bar.orange .fill-skills {background-color: #FF8927;}
.skills-bar.yellow .fill-skills {background-color: #f8bc3a;}
.skills-bar.dark .fill-skills {background-color: #6b6b6b;}
.stripes .fill-skills {-webkit-background-size: 30px 30px;-moz-background-size: 30px 30px;background-size: 30px 30px;background-image: -webkit-gradient(linear, left top, right bottom,
                           color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
                           color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
                           color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
                           to(transparent));
                       background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                           transparent 75%, transparent);
                       background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                           transparent 75%, transparent);
                       background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                           transparent 75%, transparent);
                       background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                           transparent 75%, transparent);
                       background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                           transparent 75%, transparent);            

                       -webkit-animation: animate-stripes 3s linear infinite;
                       -moz-animation: animate-stripes 3s linear infinite;       		
}

@-webkit-keyframes animate-stripes { 
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
/*/experience*/

/*fun_facts*/
#fun_facts {background-color: #08bcd4;text-align: center;padding-top: 65px; padding-bottom: 130px;}
#fun_facts h1 {color:#fff;}
.facts {margin-top: 30px;}
.facts .photo-block {background-color: #fff; height: 170px; width: 100%; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;}
.facts .description {color: #fff;}
.facts .count-facts {font-size: 40px; display: block;}
.facts .title-facts {font-size: 16px; text-transform: uppercase;display: block;}
/*/fun_facts*/

/*blog*/
#blog {background: url('../images/blog-fon.jpg') no-repeat scroll center center / cover;text-align: center;}
.inner-blog {background-color: rgba(235,235,235,.8); padding-top: 65px; padding-bottom: 90px;}
.blog-wrapper {padding-top: 70px;}
#blog h3 {font-family: 'Lato-Light';}
.single-blog .blog-post {float: left; width: 240px;}
.single-blog-date {color:#3f3f3f;}
.single-blog .description {margin-left: 265px;text-align: left;padding: 15px 0 0;}
.single-blog .description h2 {font-size: 22px; margin-bottom: 30px; text-transform: uppercase; position: relative; font-family: 'Lato-Bold'; margin-top: 10px; line-height: 27px;}
.single-blog .description h2:after {position: absolute; content: ''; width: 50%; height: 2px; background-color: #08bcd4; left: 0; bottom: -15px;}
.single-blog {background-color:#fff; min-height: 310px; padding: 17px; margin-bottom: 30px; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;}
.single-blog-date {font-family: 'Lato-Light';}
.more-blog-description {background-color: #08bcd4;position: relative; margin: 0;padding: 5px 7px;font-size: 10px;border-radius: 2px;-webkit-border-radius: 2px; -moz-border-radius: 2px; text-transform: uppercase; color: #fff;}
.single-blog .more-blog-description {float: right;}
.single-blog-ls .more-blog-description {padding: 6px 10px; text-transform: none; font-size: 12px;}
.single-blog-ls .more-blog-description:before {line-height: 2.8;}
.single-blog-ls .more-blog-description:hover {padding-right: 30px;}
.single-blog-ls .more-blog-description:hover:before {left: 81%;}
.more-blog-description:before {left: 70%;opacity: 0;top: 0;position: absolute;height: 100%;color: #fff;line-height: 2.9;font-size: 100%;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.more-blog-description:hover {color: #fff; padding-right: 18px;}
.more-blog-description:focus, .more-blog-description:active {color:#fff;}
.more-blog-description:hover:before {left: 75%;opacity: 1;}
.left-blog-list, .blog-sidebar {margin: 40px 0 55px;}
.blog-crumbs {background-color: #fff; margin-bottom: 25px; height: 45px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: 0px 2px 3px #ccc; -moz-box-shadow: 0px 2px 3px #ccc; -webkit-box-shadow: 0px 2px 3px #ccc;}
.blog-crumbs li {display: inline-block; font-size: 18px; color: #888; line-height: 45px; text-indent: 5px;}
.blog-crumbs a {color: #333;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.blog-crumbs a:hover {color: #ff7f66;}
.single-sidebar {background: #fff; overflow: hidden; padding: 15px; margin-bottom: 30px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: 0px 2px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);}
.blog-sidebar h3 {margin-top: 0; position: relative; margin-bottom: 20px;}
.tags-cloud.single-sidebar h3 {margin-bottom: 25px;}
.blog-sidebar h3:after {position: absolute; content: ''; width: 100%; height: 2px; background-color: #08bcd4; left: 0; bottom: -10px;}
.blog-categories .categories li a {font-family: 'Lato-Light'; line-height: 30px; display: block; border-bottom: 1px solid #e5e5e5; font-size: 16px; color: #333; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;}
.blog-categories .categories li:last-child a {border-bottom: 0;}
.blog-categories .categories li a:hover {color: #ff7f66; text-indent: 5px;}
.text-widget {margin-bottom: 30px;}
.tags-cloud {}
.tags-cloud a {background-color: #EAF0F4; display: inline-block; color: #313131; padding: 5px 10px; font-size: 14px; margin: 0px 5px 5px 0px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.tags-cloud a:nth-child(2n+1) {font-size: 19px;}
.tags-cloud a:nth-child(3n+1) {font-size: 17px;}
.tags-cloud a:hover {background-color: #C0D5DD; color: #fff;}
.title-blog {font-size: 30px; margin-bottom: 20px;}
.single-blog-ls {margin-bottom: 50px;}
.single-blog-ls .description {margin-bottom: 20px;}
.single-blog-ls .col-md-8 {padding-left: 0;}
.wrap-com-wish {float: right; margin-top: 4px; font-size: 0;}
.single-blog-wish {margin-right: 17px;}
.single-blog-comm, .single-blog-wish {display: inline-block;}
.single-blog-comm a, .single-blog-wish a {font-size: 14px;}
.link-reverse, .single-blog-comm a, .single-blog-wish a {color:#ff7f66; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.link-reverse:hover, .single-blog-comm a:hover, .single-blog-wish a:hover {color:#FF2A00;}
.single-blog-ls .date {display: inline-block;}
.blog-pagination {font-size: 0; text-align: center; background: #fff; overflow: hidden; padding: 15px; margin-bottom: 30px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: 0px 2px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);}
.blog-pagination ul li {display: inline-block; width: 30px; height: 30px;margin: 0 3px;}
.blog-pagination ul li a, .blog-pagination ul li span {font-size: 15px; line-height: 30px; border-radius: 4px;}
.blog-pagination ul li a {background-color: #EAF0F4;display: block; height: 100%;color: #313131; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.blog-pagination ul li a:hover {background-color: #C0D5DD; color: #fff;}
.text-description {margin-bottom: 45px;}
.wrap-comment-list {margin-left: -15px; margin-bottom: 45px;}
.frame-blog-comments {margin-bottom: 55px;}
.frame-blog-comments .comment-list {margin: 0;}
.frame-blog-comments .comment-list li {padding: 0;}
.frame-blog-comments .comment-list li:before {display: none;}
.frame-blog-comments .comment-list {padding-left: 15px;}
.frame-blog-comments .sect {background: #fff; margin-bottom: 20px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: 0px 2px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);}
.frame-blog-comments .comment-desc {margin-left: 80px;}
.frame-blog-comments .img-comment {float: left; margin-right: 20px; width: 60px; height: 60px; border-radius: 50px; overflow: hidden;}
.frame-blog-comments .author {margin-bottom: 5px;}
.frame-blog-comments .date {margin-bottom: 10px;}
.frame-blog-comments .comment-meta {position: relative;}
.frame-blog-comments .date {color:#6E6E6E; font-size: 11px; font-weight: bold; text-transform: uppercase;}
.frame-blog-comments .btn-reply {position: absolute; top: 0; right: 5px;}
.frame-blog-comments .comment-text {color: #777777;}
.frame-blog-comments .reply-comment {margin-bottom: 20px;}
.frame-blog-comments .reply-title {margin-bottom: 20px;}
/*/blog*/

/*studio*/
#studio {background-color: #08bcd4; text-align: center; padding-top: 65px;}
#studio > .container {margin-bottom: 50px;}
#studio  h1 {color: #fff;}
#studio h1, #studio h3 {color: #fff;}
.slick-slider {}
.frame-slick {background-color: #CFCFCF; padding: 25px 0;}
/*/studio*/

/*pricing-tables*/
#pricing-tables {background-color: #ebebea; text-align: center; padding-top: 65px; padding-bottom: 60px;}
#pricing-tables h1 {font-family: 'Lato-Bold'; font-size: 46px;}
#pricing-tables h3 {font-family: 'Lato-Light';}
.pricing-tables {margin-top: 180px;}
.frame-pricing {background-color: #fff; padding-bottom: 35px; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;}
.frame-price {margin-top: -100px; display: inline-block; color: #fff; width: 200px; height: 200px; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;}
.mini-pricing .frame-price {background-color: #f8bc3a;}
.standart-pricing .frame-price {background-color: #27ae61;}
.premium-pricing .frame-price {background-color: #2a80b9;}
.frame-pricing .price-insert {margin-left: -10px;}
.frame-pricing .new-price, .frame-pricing .curr {font-family: 'Lato-Bold';}
.frame-pricing .per-month {font-size: 18px;display: block;}
.frame-pricing .curr {font-size: 40px;position: relative; top: -40px;}
.frame-pricing .new-price {font-size: 100px; line-height: 100px;}
.frame-desc-price h2 {text-transform: uppercase; position: relative; margin-bottom: 30px;}
.frame-desc-price h2:after {position: absolute; content: ''; width: 32px; height: 1px; background-color: #000; bottom: -16px; left: 50%; margin-left: -16px;}
.frame-desc-price .description {width: 165px; margin: 0 auto; margin-bottom: 25px;}
.frame-desc-price .description span {display: block;line-height: 25px; font-size: 16px;}
.frame-desc-price .perspective {-webkit-perspective: 800px;-moz-perspective: 800px;perspective: 800px;display: inline-block;}
.try-button {color: #fff; text-transform: uppercase; font-size: 14px; padding: 15px 60px;border-radius: 0;}
.mini-pricing .try-button {background-color: #f8bc3a;}
.standart-pricing .try-button {background-color: #27ae61;}
.premium-pricing .try-button {background-color: #2a80b9;}
.try-button:hover {box-shadow: 0 0 2px rgba(0,0,0,0.4);}
.try-button:hover, .try-button:focus, .try-button:active {color: #fff; outline: none;}
.try-button:after {width: 100%;height: 42%;left: 0;top: -44%; content: ''; position: absolute; z-index: -1; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;-webkit-transform-origin: 0% 100%; -webkit-transform: rotateX(90deg);-moz-transform-origin: 0% 100%; -moz-transform: rotateX(90deg); transform-origin: 0% 100%; transform: rotateX(90deg);}
.mini-pricing .try-button:after {background: #E8A91F;}
.standart-pricing .try-button:after {background: #0A9948;}
.premium-pricing .try-button:after {background: #0468A8;}
/*/pricing-tables*/

/*contacts*/
#contacts {color: #fff;}
#contacts h1 {color: #fff; font-family: 'Lato-Bold';}
#contacts h3 {font-family: 'Lato-Light';}
.contacts-us {background-color: #2f2f2f;padding: 45px 0;}
.frame-icon-contact {display: inline-block; vertical-align: middle;}
.frame-contact .description {margin-left: 20px; max-width: 235px;}
.frame-contact .description .text-el {font-size: 22px;}
.contacts-form form {margin-top: 55px;}
.contacts-form form .fa {position: absolute; right: 15px; top: 11px; color: #aaaaaa; font-size: 22px;}
.contacts-form {background-color: #08bcd4; padding: 60px 0 80px 0;text-align: center;}
.contacts-form .form-group {margin-bottom: 42px;position: relative;}
.contacts-form .form-group.has-error {margin-bottom: 10px;}
.contacts-form .form-control {border-color: transparent;padding-right: 40px; line-height: 30px; box-shadow: none; height: 50px; font-size: 15px;}
.contacts-form textarea.form-control {min-height: 255px; height: auto;}
.contacts-form .form-group.has-error input[type="text"], .contacts-form .form-group.has-error textarea {border-color: rgb(253, 223, 223);background-color: rgb(253, 223, 223);}
.contacts-form .form-group.has-error input[type="text"]::-webkit-input-placeholder, .contacts-form .form-group.has-error textarea::-webkit-input-placeholder {color:rgb(255, 108, 108);}
.contacts-form .form-group.has-error input[type="text"]::-moz-input-placeholder, .contacts-form .form-group.has-error textarea::-moz-input-placeholder {color:rgb(255, 108, 108);}
.contacts-form .form-group.has-error input[type="text"]:-moz-input-placeholder, .contacts-form .form-group.has-error textarea:-moz-input-placeholder {color:rgb(255, 108, 108);}
.contacts-form .form-group.has-error input[type="text"]::-ms-input-placeholder, .contacts-form .form-group.has-error textarea::-ms-input-placeholder {color:rgb(255, 108, 108);}
.contacts-form .form-group.has-error .fa {color:rgb(255, 108, 108);}
.contacts-form .alert-error {text-align: left; padding: 5px 0;  margin-bottom: 0;}
.contacts-form .alert-success {margin: 20px 0 0 0; background-color: #E4FDDA; border-color: #E4FDDA;}
.contacts-form .btn-2 {background-color: #6F6C6C; margin-top: 15px; box-shadow: 0 6px #4F4F4F; color:#fff; font-family: 'Lato-Bold'; font-size: 14px; text-transform: uppercase; padding: 10px 25px; -webkit-transition: none; -moz-transition: none; transition: none; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;}
.contacts-form .btn-2:hover {box-shadow: 0 4px #4F4F4F; top: 2px;}
.contacts-form .btn-2:active {box-shadow: 0 0 #4F4F4F; top: 6px;}
.contacts-form .btn-2:after {content: ''; position: absolute; z-index: -1; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
.contacts-map {}
.contacts-map #map_canvas {height: 500px; margin: 0; padding: 0; color: #333;}
#map_canvas img {max-width: inherit;}
/*/contacts*/

/*about_page*/
.about_main-photo {background: url('../images/gallery/about_me.jpg') no-repeat center 0; padding-top: 152px;min-height: 640px; margin-top: -100px; position: relative;top: 0;left: 0;right: 0;text-align: center;}
.about_main-photo h1 {font-size: 72px;margin-bottom: 20px;}
.about_main-photo .title-h3 {font-size: 24px;line-height: 29px; color: #6c7378;}
.about_main-photo .container {text-align: left;}
.about_page .frame-title {text-align: center;} 
.about_page .frame-title  h2 {padding: 0 260px;}
.design_works {padding-top: 97px;}
.design_works > li {margin-bottom: 79px;}
.design_works > li .description {font-size: 0;}
.design_works .title-description p {font-size: 20px; color: #626569;}
/*/about_page*/

/*case_view*/
.project-title {text-align: center;}
.project-title h1 {font-size: 72px; color:#2d3237; font-weight: bold;line-height: 67px;}
.project-sub-title h3 {font-size: 24px; color:#626569; font-weight: normal; text-align: center; text-transform: uppercase;letter-spacing: 3px;}
.case-middle-photo {text-align: center;}
.project-description {margin-bottom: 30px;}
.case-middle-photo .photo-block {}
.section-titles {margin-bottom: 120px;}
.title-link {margin: 60px 0 30px;}
.title-link a {font-size: 24px; color:#2d3237;}
.title-link a:hover {text-decoration: none;}
/*/case_view*/

/*/content*/

/*footer*/
.h-footer {height: 370px;}
footer {background-color: #ebebea; height: 370px; margin-top: -370px; padding-top: 100px; text-align: center;}
footer p {font-family: 'Lato-Light'; font-size: 16px;}
.share {font-size: 0; margin-bottom: 30px;}
.share a {background: #d2d2d1; border-radius: 40px; margin: 0 9px; padding: 15px; display: inline-block; width: 60px; height: 60px;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
.share a:hover {text-decoration: none; color: #08bcd4;}
.copy-right {font-size: 17px;margin-bottom: 5px;}
/*/footer*/

.preloader {height: 100% !important;}
.h_100 {height: 100%;}

/*Some media queries*/
@media screen and (max-width: 1199px){
    .slides > li .description {width: 100%;}
    .personal-photo {height: 304px;}
    .personal-social {margin-top: 15px;}
    .frame-contact .description {display: block; margin-left: 0; max-width: none;}
    .frame-contact {text-align: center;}
}
@media screen and (max-width: 991px){
    .slides > li .description {font-size: 1.3em;}
    .personal-photo {height: 220px;}
    .isotope li {height: 294px;}
    #fun_facts {padding-top: 30px;padding-bottom: 70px;}
    .fa-coffee, .fa-smile-o, .fa-music, .fa-cogs {font-size: 65px;}
    .facts .photo-block {height: 95px;}
    .single-blog .description {width: auto;}
    .pricing-tables {margin-top: 130px;}
}
@media screen and (max-width: 768px){
    .button-group .button {margin-bottom: 10px;}
    .isotope li {height: 400px; margin-bottom: 20px;}
    .personal-photo, .skills-graphic .title-procent {display: none;}
    .facts .count-facts {font-size: 30px;}
    .facts > div {margin-bottom: 20px;}
    .skills-bar {width: 100%;}
    .pricing-tables > div {margin-bottom: 100px;}
    .pricing-tables > div:last-child {margin-bottom: 20px;}
    .frame-pricing .new-price {font-size: 65px;line-height: 60px;}
    .frame-pricing .curr {font-size: 23px;}
    .frame-price {width: 150px;height: 150px;}
    .frame-contact {margin-bottom: 25px;}
    .skills-graphic {margin: 0;}
    .left-blog-list, .blog-sidebar {margin: 20px 0 20px;}
    .single-blog-ls .col-md-8 {padding: 15px;}
    .single-blog-ls .description {padding: 0;}
     
}
@media screen and (max-width: 479px){
    .facts .description {padding: 0;}
    .facts .photo-block {margin-bottom: 0;}
    .slides > li .description {display: none;}
    #studio {padding-top: 25px;}
    #studio > .container {margin-bottom: 30px;}
    .slick-prev, .slick-next {width: 30px;height: 50px;}
    .slick-next:after, .slick-prev:after {font-size: 40px;}
    #about_us {padding: 25px 0;}
    .inner-blog {padding-top: 25px;padding-bottom: 25px;}
    .blog-wrapper {padding-top: 25px;}
    .single-blog .blog-post {float: none; margin: 0 auto;}
    .single-blog .description {margin-left: 0;}
    .share a {margin-bottom: 10px;}
}
/*/Some media queries*/






























