<ul>
    <li class="small-photo col-md-4 col-lg-4 col-sm-4 col-xs-12 element-item illustration html" data-toggle="lightbox" data-remote="images/work.jpg" data-gallery="multiimages" data-title="Your title">
        <div class="frame-photo-title">
            <span class="photo-block awesome">
                <img src="images/gallery/7.jpg" alt="" />
                <button class="add-new-photo icon-fighter-jet"></button>
            </span>
        </div>
    </li>
    <li class="small-photo col-md-4 col-lg-4 col-sm-4 col-xs-12 element-item illustration css" data-toggle="lightbox" data-remote="images/work.jpg" data-gallery="multiimages" data-title="Your title">
        <div class="frame-photo-title">
            <span class="photo-block awesome">
                <img src="images/gallery/8.jpg" alt="" />
                <button class="add-new-photo icon-fighter-jet"></button>
            </span>
        </div>
    </li>
    <li class="small-photo col-md-4 col-lg-4 col-sm-4 col-xs-12 element-item html css illustration" data-toggle="lightbox" data-remote="images/work.jpg" data-gallery="multiimages" data-title="Your title">
        <div class="frame-photo-title">
            <span class="photo-block awesome">
                <img src="images/gallery/9.jpg" alt="" />
                <button class="add-new-photo icon-fighter-jet"></button>
            </span>
        </div>
    </li>
    <li class="small-photo col-md-4 col-lg-4 col-sm-4 col-xs-12 element-item css illustration" data-toggle="lightbox" data-remote="images/work.jpg" data-gallery="multiimages" data-title="Your title">
        <div class="frame-photo-title">
            <span class="photo-block awesome">
                <img src="images/gallery/10.jpg" alt="" />
                <button class="add-new-photo icon-fighter-jet"></button>
            </span>
        </div>
    </li>
    <li class="small-photo col-md-4 col-lg-4 col-sm-4 col-xs-12 element-item html css" data-toggle="lightbox" data-remote="images/work.jpg" data-gallery="multiimages" data-title="Your title">
        <div class="frame-photo-title">
            <span class="photo-block awesome">
                <img src="images/gallery/1.jpg" alt="" />
                <button class="add-new-photo icon-fighter-jet"></button>
            </span>
        </div>
    </li>
    <li class="small-photo col-md-4 col-lg-4 col-sm-4 col-xs-12 element-item css html" data-toggle="lightbox" data-remote="images/work.jpg" data-gallery="multiimages" data-title="Your title">
        <div class="frame-photo-title">
            <span class="photo-block awesome">
                <img src="images/gallery/2.jpg" alt="" />
                <button class="add-new-photo icon-fighter-jet"></button>
            </span>
        </div>
    </li>
</ul>
